<div id="worldpage" v-cloak>
  <World>
    Example 2: World (version 2) - Floor Component
    <div class="stage">
      <Floor distance="40">
        <!--Tile Component instead-->
        <div class="tile" style="left:300px;">
        </div>
        <div class="tile" style="left:400px;">
        </div>
        <div class="tile" style="left:300px;top:100px">
        </div>
        <div class="tile" style="left:400px;top:100px">
        </div>
      </Floor>
    </div>
    <div class="panel">
      <p>
        <label>
          floor distance (z)
          <input class="floor-distance-range" type="range" min="1" max="1000" value="100" data-units="px" />
        </label>
      </p>
      <p>
        <label>
          perspective
          <input class="perspective-range" type="range" min="1" max="1000" value="400" data-units="px" />
        </label>
      </p>
      <p>
        <label>
          perspective-origin x
          <input class="origin-x-range" type="range" min="0" max="100" value="50" data-units="%" />
        </label>
      </p>
      <p>
        <label>
          perspective-origin y
          <input class="origin-y-range" type="range" min="0" max="100" value="50" data-units="%" />
        </label>
      </p>
      <p>
        <label>
          Rotate stage
          <input class="rotate-stage-checkbox" type="checkbox" />
        </label>
      </p>
      <p>
        <label>
          Backface visible
          <input class="backface-checkbox" type="checkbox" checked />
        </label>
      </p>  
    </div>
  </World>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
