<div id="worldpage" v-cloak>
  <World>
    <div class="scene">
      <div class="floor">
        <div class="tile">
        </div>
        <div class="tile" style="left:300px">
        </div>
        <div class="tile" style="left:400px">
        </div>
        <div class="tile" style="top:100px;">
        </div>
        <div class="tile" style="left:300px;top:100px;">
        </div>
        <div class="tile" style="left:400px;top:100px;">
        </div>
        <div class="tile" style="top:200px;">
        </div>
        <div class="tile" style="left:300px;top:200px;">
        </div>
        <div class="tile" style="left:400px;top:200px;">
        </div>
      </div>
    </div>
  </World>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
