/**
 * <World>
 *
 * World component styling.
 */

[parasails-component='world'] {
  background-color: black;
  .world {
    color: white;
    .stage {
      // width and height must be set to an abs valuefor perspective-origin to work, make this dynamic!
      width: 1000px;
      height: 400px;
      // 3d perpective
      perspective: 550px;
      perspective-origin: 50% 0%;
    }
    .panel {
      position: absolute;
      right: 0px;
      margin-right:20px;
    }
  }
}
