/**
 * <World>
 *
 * World component styling.
 */

[parasails-component='world'] {
  background-color: black;
  .world {
    color: red;
  }
}

/**
 * Exposed globaly, above does not work for now?
 */
.world {
  color: blue;
}
